<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/estilo2.css">
		<title>Contatos</title>
	</head>
	<body>
		<header class="cabecalho">
			<nav class="cabecalho-nav">
				<img src="../static/images/logo preta.png" alt="logo-marca-preta">
				<a class="cabecalho-nav-texto" href="home.html">Home</a>
				<a class="cabecalho-nav-texto" href="biografia.html">Biografia</a>
				<a class="cabecalho-nav-texto" href="projetos.html">Projetos</a>
			</nav>
		</header>
		<main>
			<h1 class="secao-1-contatos-titulo"><b>Contatos</b></h1>
			<section class="secao-2-contatos">
				<h2 class="secao-2-contatos-titulo">Matheus Albernaz</h2>
				<p class="secao-2-contatos-paragrafo">E-mail: matheus_augustoja@yahoo.com.br</p>
				<p class="secao-2-contatos-paragrafo">Telefone: (12)98812-6756</p>
				<h2 class="secao-2-contatos-titulo">Se você quer conhecer mais sobre a Sams Art, acesse:</h2>
				<p class="secao-2-contatos-paragrafo">Whatsapp: (12)98701-2275</p>
			</section>
		</main>
		<footer class="rodape">
		<nav class="rodape-logos">
			<img class="rodape-logo" src="../static/images/linkedin.svg" alt="logo-linkeind">
			<img class="rodape-logo" src="../static/images/github.svg" alt="logo-github">
			<img class="rodape-logo" src="../static/images/instagram.svg" alt="logo-instagram">
			<img class="rodape-logo" src="../static/images/facebook.svg" alt="logo-facebook">
		</nav>
			<h4 class="rodape-texto">Matheus Albernaz&copy;</h4>
		</footer>
	</body>
</html>