<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/estilo.css">
		<title>Home</title>
	</head>
	<body>
		<header class="cabecalho">
			<img class="logo-cabecalho" src="../static/images/logo branca.png" alt="logo-marca-branca">
		</header>
		<section class="secao-1">
			<img class="secao-1-foto" src="../static/images/foto perfil.png" alt="foto-perfil">
			<div class="secao-1-texto">
				<h1 class="secao-1-texto-titulo"><b>Matheus Augusto de Jesus Albernaz</b></h1>
				<br>
				<p class="secao-1-texto-paragrafo">Estudante de Tecnologia, adepto do modo "faça você mesmo"<br> 
				e dedicado à família.</p>
			</div>
		</section>
		<section class="secao-2">
			<figure class="secao-2-figura">
				<a class="secao-2-figura-img" href="biografia.html"><img src="" alt="foto-biografia"></a>
				<figcaption>Biografia</figcaption>
			</figure>
			<figure class="secao-2-figura">
				<a class="secao-2-figura-img" href="projetos.html"><img src="" alt="foto-projetos"></a>
				<figcaption>Projetos</figcaption>
			</figure>
			<figure class="secao-2-figura">
				<a class="secao-2-figura-img" href="contatos.html"><img src="" alt="foto-contatos"></a>
				<figcaption>Contatos</figcaption>
			</figure>
		</section>
		<footer class="rodape">
		<nav class="rodape-logos">
			<img class="rodape-logo" src="../static/images/linkedin.svg" alt="logo-linkeind">
			<img class="rodape-logo" src="../static/images/github.svg" alt="logo-github">
			<img class="rodape-logo" src="../static/images/instagram.svg" alt="logo-instagram">
			<img class="rodape-logo" src="../static/images/facebook.svg" alt="logo-facebook">
		</nav>
			<h4 class="rodape-texto">Matheus Albernaz&copy;</h4>
		</footer>
	</body>
</html>