<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/estilo.css">
		<link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
		<title>Home</title>
	</head>
	<body>
		<header class="cabecalho">
			<nav class="cabecalho-nav">
				<a href="/"><img class="logo-cabecalho" src="../static/images/logo.svg" alt="logo matheus albernaz"></a>
			</nav>
		</header>
		<main>
			<section class="secao-1">
				<img class="secao-1-foto" src="../static/images/foto perfil.png" alt="foto-perfil">
				<div class="secao-1-texto">
					<h1 class="secao-1-texto-titulo"><b>Matheus Augusto de Jesus Albernaz</b></h1>
					<br>
					<p class="secao-1-texto-paragrafo">Estudante de Tecnologia, adepto do modo "faça você mesmo" e dedicado à família.</p>
				</div>
			</section>
			<section class="secao-2">
				<figure class="secao-2-figura">
					<a class="secao-2-figura-img" href="/biografia"><img class="img" src="../static/images/biografia.svg" alt="foto-biografia"></a>
					<figcaption>Biografia</figcaption>
				</figure>
				<figure class="secao-2-figura">
					<a class="secao-2-figura-img" href="/projetos"><img class="img" src="../static/images/projeto.svg" alt="foto-projetos"></a>
					<figcaption>Projetos</figcaption>
				</figure>
				<figure class="secao-2-figura">
					<a class="secao-2-figura-img" href="/contatos"><img class="img" src="../static/images/livro-de-contato.svg" alt="foto-contatos"></a>
					<figcaption>Contato</figcaption>
				</figure>
			</section>
		</main>
		<footer class="rodape">
		<nav class="rodape-logos">
			<a href="https://www.linkedin.com/in/matheus-augusto-de-jesus-albernaz-918536216/" Target="_blank"><img class="rodape-logo" src="../static/images/linkedin.svg" alt="logo-linkeind"></a>
			<a href="https://github.com/MatheusAJesus" Target="_blank"><img class="rodape-logo" src="../static/images/github.svg" alt="logo-github"></a>
			<a href="https://www.instagram.com/mhs_jesus_woodcrafter/" Target="_blank"><img class="rodape-logo" src="../static/images/instagram.svg" alt="logo-instagram"></a>
			<a href="https://www.facebook.com/samsmatheus" Target="_blank"><img class="rodape-logo" src="../static/images/facebook.svg" alt="logo-facebook"></a>
		</nav>
			<h4 class="rodape-texto">Desenvolvido por Matheus Albernaz&copy;</h4>
		</footer>
	</body>
</html>