<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/estilo2.css">
		<title>Projetos</title>
	</head>
	<body>
		<header class="cabecalho">
			<nav class="cabecalho-nav">
				<img src="../static/images/logo preta.png" alt="logo-marca-preta">
				<a class="cabecalho-nav-texto" href="home.html">Home</a>
				<a class="cabecalho-nav-texto" href="biografia.html">Biografia</a>
				<a class="cabecalho-nav-texto" href="contatos.html">Contatos</a>
			</nav>
		</header>
		<section class="secao-1-projetos">
			<div class="secao-1-texto">
				<h1 class="secao-1-texto-titulo"><b>Projetos</b></h1>
				<br>
				<p class="secao-1-texto-paragrafo">“Sonhos exigem paciência no resultado e dedicação no processo”</p>
			</div>
		</section>
		<section class="secao-2">
			<div class="secao-2-projetos">
				<p>Texto e/ou imagem sobre o projeto</p>
			</div>
			<div class="secao-2-projetos">
				<p>Texto e/ou imagem sobre o projeto</p>
			</div>
			<div class="secao-2-projetos">
				<p>Texto e/ou imagem sobre o projeto</p>	
			</div>
		</section>
		<footer class="rodape">
		<nav class="rodape-logos">
			<img class="rodape-logo" src="../static/images/linkedin.svg" alt="logo-linkeind">
			<img class="rodape-logo" src="../static/images/github.svg" alt="logo-github">
			<img class="rodape-logo" src="../static/images/instagram.svg" alt="logo-instagram">
			<img class="rodape-logo" src="../static/images/facebook.svg" alt="logo-facebook">
		</nav>
			<h4 class="rodape-texto">Matheus Albernaz&copy;</h4>
		</footer>
	</body>
</html>