@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Jura&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;    
}
html{
	height: 100%;
	min-height: 100%;
}

body{
	display:flex;
	flex-direction: column;
	background-color: #ffffff ;
	min-height: 100%;
	background-image: url(../images/Circuit\ Board.svg);
} 

main{
	display:flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	padding: 15px;
}

.cabecalho{
    display: flex;
	max-width:100%;
	padding: 8px 5px;
	background-color: #091D34;
}

.cabecalho-nav{
	margin:auto;
	display:flex;
	width: 1200px;
}

@media only screen and (max-width: 500px) {
	.cabecalho-nav{
		justify-content: center;
	}
}

.secao-1{
    display: flex;
    flex-direction: column;
    align-items: center;
	gap:15px;
}

.secao-1-foto{
	height:200px;
}

@media only screen and (max-width: 500px) {
	.secao-1-foto{
		height: 150px;
	}
}
.secao-1-texto{
	display:flex;
	flex-direction:column;
	text-align:center;
	max-width:500px;
	min-width:none;
}
.secao-1-texto-titulo{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #091D34;
}
.secao-1-texto-paragrafo{
	font-family: 'Josefin Sans', sans-serif;
	font-weight:400;
	font-size: 18px;
	color:#091D34;
	text-align: center;
}

@media only screen and (max-width: 500px) {
	.secao-1-texto-titulo{
		font-size: 22px;
	}
	.secao-1-texto-paragrafo{
		font-size: 18px;
	}

}

.secao-2{
    display: flex;
    flex-direction: row;
    align-items: center;
	justify-content: space-between;
	max-width:1200px;
	width:95vw;
	margin:15px;
	padding: 42px 0px;
}

.secao-2-figura{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:center;
	width:260px;
	height:270px;
	gap:10px;
}

@media only screen and (max-width: 800px) {
	.secao-2{
		flex-direction: column;
	}
	.secao-2-figura{
		margin-bottom: 80px;

	}
}

.secao-2-figura-img{
	display: flex;
	align-items: center;
	justify-content: center;
	width:250px;
	height:250px;
	background-color:white;
	border-radius: 10px;
}

.secao-2-figura-img:hover{
	background-color:#609CE1;
}


.img{
	height: 200px;
}

figcaption{
	font-family: 'Josefin Sans', sans-serif;
	font-weight:300;
	font-size: 22px;
	color:#091D34;
}

@media only screen and (max-width: 500px) {
	.figcaption{
		font-size: 20px;
	}

}

.rodape{
	margin-top:auto;
	display: flex;
    flex-direction: column;
    align-items: center;
	justify-content:center;
	height:150px;
	gap:15px;
	padding: 20px;
	background-color:#091D34;
	color: #609CE1;
}

.rodape-logos{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:28px;
}

.rodape-logo{
	width:35px;
	height:35px;
}

.rodape-texto{
	font-family: 'Jura', sans-serif;
	font-weight: 400;
	font-size: 18px;
}	

@media only screen and (max-width: 500px) {
	.rodape-texto{
		font-size: 15px;
	}
}