<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/estilo2.css">
		<link rel="stylesheet" href="../static/css/bootstrap/css/bootstrap.min.css">
		<title>Contatos</title>
	</head>
	<body>
		<header class="cabecalho">
			<nav class="cabecalho-nav">
				<a class="link" href="/"><img src="../static/images/logo.svg" alt="logo matheus albernaz"></a>
				<div id="mySidenav" class="sidenav">
					<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
					<hr class="hr_black">
					<a href="/">Home</a>
					<hr class="hr_black">
					<a href="/biografia">Biografia</a>
					<hr class="hr_black">           
					<a href="/projetos">Projetos</a>
					<hr class="hr_black">
				</div>
				<span class="icon_nav_style" onclick="openNav()">&#9776;</span>
		
				<script>
					function openNav() {
					document.getElementById("mySidenav").style.width = "250px";
					}
		
					function closeNav() {
					document.getElementById("mySidenav").style.width = "0";
					}
				</script>
			</nav>
		</header>
		<main>
			<h1 class="secao-1-contatos-titulo"><b>Contato</b></h1>
			<section class="secao-2-contatos">
				<h2 class="secao-2-contatos-titulo">Matheus Albernaz</h2>
				<p class="secao-2-contatos-paragrafo">E-mail: matheus_augustoja@yahoo.com.br</p>
				<p class="secao-2-contatos-paragrafo">Telefone: (12)98812-6756</p>
				<h2 class="secao-2-contatos-titulo">Se você quer conhecer mais sobre a Sams Art, acesse:</h2>
				<div class="contatos-redes">				
					<a class="redes" href="https://facebook.com/samsartcacapava/" Target="_blank">
						<img class="logo" src="../static/images/facebook2.svg" alt="logo-facebook">
						<p class="paragrafo-redes">Facebook</p>
					</a>
					<a class="redes" href="https://www.instagram.com/samsartcacapava/?hl=pt-br" Target="_blank">
						<img class="logo" src="../static/images/instagram2.svg" alt="logo-instagram">
						<p class="paragrafo-redes">Instagram</p>
					</a>
					<a class="redes" href="https://www.youtube.com/channel/UC4AQsX1wzunQA8LZS2zuIKA" Target="_blank">
						<img class="logo" src="../static/images/youtube.svg" alt="logo-youtube">
						<p class="paragrafo-redes">Youtube</p>
					</a>
				</div>
				<p class="secao-2-contatos-paragrafo">Whatsapp: (12)98701-2275</p>
			</section>
		</main>
		<footer class="rodape">
			<nav class="rodape-logos">
				<a class="link" href="https://www.linkedin.com/in/matheus-augusto-de-jesus-albernaz-918536216/" Target="_blank"><img class="rodape-logo" src="../static/images/linkedin.svg" alt="logo-linkeind"></a>
				<a class="link" href="https://github.com/MatheusAJesus" Target="_blank"><img class="rodape-logo" src="../static/images/github.svg" alt="logo-github"></a>
				<a class="link" href="https://www.instagram.com/mhs_jesus_woodcrafter/" Target="_blank"><img class="rodape-logo" src="../static/images/instagram.svg" alt="logo-instagram"></a>
				<a class="link" href="https://www.facebook.com/samsmatheus" Target="_blank"><img class="rodape-logo" src="../static/images/facebook.svg" alt="logo-facebook"></a>
			</nav>
			<h4 class="rodape-texto">Desenvolvido por Matheus Albernaz&copy;</h4>
		</footer>
	</body>
</html>